html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Oxygen", Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Varela Round", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }
 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

@media (min-width: 768px) {
    .container {
        width: 750px;
      }
    }
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 /* Header */
 header {
   color:#FFFFFF;
   background: #34495E;.Rectangle_1 {
  background-image: -moz-linear-gradient( 38deg, rgb(59,136,200) 0%, rgb(115,187,248) 99%);
  background-image: -webkit-linear-gradient( 38deg, rgb(59,136,200) 0%, rgb(115,187,248) 99%);
  background-image: -ms-linear-gradient( 38deg, rgb(59,136,200) 0%, rgb(115,187,248) 99%);
  position: absolute;
  left: -3px;
  top: 0px;
  width: 1443px;
  height: 860px;
  z-index: 9;
}

}

}
